.aup-section1 {
	background: linear-gradient(to bottom, #dfe1e2, #fff 35%);

	&__wrapper {
		max-width: 1130px;
		margin: 0 auto;
		color: #333;
	}
	.h3 {
		text-align: center;
		color: #333;
	}
	.p {
		color: #333;
	}

	.gggg {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		&__2 {
			display: inline-block;
			max-width: 48%;
			.h3 {
				font: 700 25px/30px Barlow, sans-serif;
				text-transform: uppercase;
				letter-spacing: 1px;
				text-align: left;
			}

		}
	}
}