.aup-section1 {
	background: linear-gradient(to bottom, #dfe1e2, #fff 35%);
	padding: 30px 0; 

	&__wrapper {
		max-width: 1130px;
		margin: 0 auto;
		color: #333;
		h3 {
			text-align: center;
			margin-bottom: 50px;
		}
	}
	.flex {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		
		div {
			display: inline-block;
			max-width: 47%;
		}
		.left-part {
			p{
				font-weight: 500;
				margin: 15px 0;
			}

			h3 {
			font: 700 25px/30px Barlow, sans-serif;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-align: left;
			margin: 15px 0;
			}
		}
		.right-part {
			.btn-wrapper {
				justify-content: flex-end;
				display: flex;
				max-width: 100%;
				margin-bottom: 15px;
			}
			h4 {
				text-align: center;
				font: 700 16px/24px Barlow, sans-serif;
				text-transform: uppercase;
				letter-spacing: 0.32px;
				margin-top: 20px;
			}
		}
	}
}
