.section1 {
	text-align: right;
	padding: 40px 0 320px;
	h3 {
		font-family: "Open Sans";

font-size: 38px;

font-weight: 300;

line-height: 42px;

/* Text style for "E, njoy a" */

letter-spacing: -0.76px;
	}
	p {
		max-width: 600px;
		font-family: Barlow;

font-size: 27px;

font-weight: 400;

line-height: 40px;

/* Text style for "Gain cryst" */

letter-spacing: -0.27px;
	}
}
.zzz {
display: flex;
flex-direction: column;
align-items: flex-end;
}