.section2 {
    background-color: #294b09;
    padding: 45px 0 60px;
    p {
		font-size: 28px;
		font-weight: 500;
		line-height: 45px;
		letter-spacing: -0.28px;
		display: inline-block;
		max-width: 80%;
    }
}
