.section2 {
    background-color: #294b09;
    padding: 10px 0 ;
    p {
    	font-family: Barlow;
		font-size: 28px;
		font-weight: 500;
		line-height: 45px;
		letter-spacing: -0.28px;
		display: inline-block;
		max-width: 80%;
    }
}

.iii {
		display: flex;

justify-content: space-between;

flex-wrap: wrap;

align-items: center;
}